<p class="about">
     At Catch-A-Fade our goal is to make getting a hair cut simple.Any time of
     the day. Our website is for the too busy or the laziest person out there. We
     provide a 24 hour haircutting service so that when ever you need to Catch-A-Fade
     we got you covered.

 </p>