<div class="jumbotron text-xs-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>Please check your email</strong> for further instructions on how to check your appointments.</p>
  <hr>
  <p>
    Having trouble? <a href="/contact">Contact us</a>
  </p>
  <p class="lead">
    <a class="btn default-btn" href="/" role="button">Continue To Homepage</a>
  </p>
</div>
