
<link >
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="main-nav">
  <a class="navbar-brand navbar-link-color navbar-link-font"  href="#">CATCH A FADE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
       <li class="nav-item">
      </li>
      <li class="nav-item active">
        <a class="nav-link navbar-link-color" href="#"><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar-link-color" href="#"></a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  
  <form class="userbox">
    
    <div class="group">      
      <input class="123" type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label  class="label12" style="color:black;font-size:16px;">Username</label>
    </div>
      
    <div class="group">      
      <input class="123"type="password" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label class="label12" type="password" id="myInput"style="color:black;font-size:16px;">Password</label>
    </div>
    
  </form>
  
</div>
<button class="submit_but" ><a href="/barber_list" style="color:black;">Submit</a></button>
